{% extends "base.jinja" %}
{% block content %}
<form action="/handleUserForm" method="GET">
<div class="form-group">
Name:<br>
<input type="text" class="form-control" name="username">
</div>
<input type="submit" class="btn btn-primary" value="Add User">
</form>
{% endblock %}